@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Permanent Marker', cursive;
  background-color: #140962;
  color: white;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: silver;
}

.logo {
  color: black;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav-links {
  display: flex;
  justify-content: space-around;;
  width: 40%;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 18px;
}

#vs-computer {
  color: #590809;
}

#vs-computer:hover, #vs-player:hover {
  font-size: 120%;
}

#vs-player {
  color: #140962;
}

.nav-links li {
  list-style: none;
}

.container {
  background-color: #140962;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

h1 {
  font-size: 400%;
  padding-bottom: 20px;
}

table {
  width: 450px;
  height: 450px;
  padding-right: 30px;;
}

td {
  width: 150px;
  height: 150px;
}

table button {
  background-color: #140962;
  text-align: center;
  display: inline-block;
  font-size: 90px;
  width: 150px;
  height: 150px;
  border: none;
  padding: 0px;
  margin: 0px;
}

#a1 {
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

#a2 {
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

#a3 {
  border-bottom: 4px solid white;
  border-left: 4px solid white;
}

#b1 {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

#b2 {
  border: 4px solid white;
}

#b3 {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
}

#c1 {
  border-top: 4px solid white;
  border-right: 4px solid white;
}

#c2 {
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

#c3 {
  border-top: 4px solid white;
  border-left: 4px solid white;
}


.main {
  display: inline-block;
}

.scorecard {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  font-size: 150%;
  text-align: left;
  line-height: 2;
}

.scorecard a {

}

.X {
  font-family: 'Merienda', cursive;
  color: red;
}

.O {
  font-family: 'Merienda', cursive;
  color: green;

}

#winner {
  color: purple;
  text-align:left;
  padding-left: 30px;
}

body .cpu-game {
  background-color: #590809;
}

.cpu-game .container {
  background-color: #590809;
  min-height: 92vh;
}

.cpu-game table button{
  background-color: #590809;
}

.terminator {
  background-image: url('../images/terminator.gif');
  background-size: 150px 150px;
}

.ape {
  background-image: url('../images/ape.gif');
  background-size: 150px 150px;
}






.cat-game {
  font-family: 'Caveat', cursive;
}

@keyframes cat-background {
  0%   {background-color: pink;}
  15%  {background-color: yellow;}
  30%  {background-color: purple;}
  45% {background-color: limegreen;}
  60% {background-color: green;}
  75% {background-color: orange;}
  90% {background-color: maroon;}
  100% {background-color: pink;}
}

@keyframes cat-text {
  0%   {color: red;}
  25%  {color: blue;}
  50%  {color: black;}
  75% {color: white;}
  100% {color: red;}
}


body .cat-game {
  background-color: pink;
  animation-name: cat-background;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  min-height: 98vh;
}

 .cat-game .container {
   background-color: pink;
   animation-name: cat-background;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   min-height: 98vh;
 }

.catgame h1 a {
  color: purple;
  animation-name: cat-text;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.cat-game table button{
  background-color: pink;
  animation-name: cat-background;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.cat1 {
  background-image: url('../images/cat1.gif');
  background-size: 150px 150px;
}

.cat2 {
  background-image: url('../images/cat2.gif');
  background-size: 150px 150px;
}
