@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Permanent Marker', cursive;
  background-color: limegreen;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: silver;
}

.logo {
  color: black;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav-links {
  display: flex;
  justify-content: space-around;;
  width: 40%;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 18px;
}

.nav-links li {
  list-style: none;
}

.container {
  background-color: limegreen;
  width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 400%;
}

table {
  width: 450px;
  height: 450px;
}

td {
  width: 150px;
  height: 150px;
}

table button {
  background-color: limegreen;
  text-align: center;
  display: inline-block;
  font-size: 100px;
  width: 150px;
  height: 150px;
  border: none;
}

#a1 {
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}

#a2 {
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
}

#a3 {
  border-bottom: 4px solid black;
  border-left: 4px solid black;;
}

#b1 {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}

#b2 {
  border: 4px solid black;
}

#b3 {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-left: 4px solid black;;
}

#c1 {
  border-top: 4px solid black;
  border-right: 4px solid black;
}

#c2 {
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
}

#c3 {
  border-top: 4px solid black;
  border-left: 4px solid black;;
}


.main {
  width: 60%;
  display: inline-block;
}

.scorecard {
  width: 35%;
  display: inline-block;
  vertical-align: top;
  font-size: 150%;
  text-align: left;
  line-height: 0.8;
}

.X {
  color: blue;
}

.O {
  color: red;
}

#winner {
  color: purple;
}








.cat-game {
  font-family: 'Caveat', cursive;
}

@keyframes cat-background {
  0%   {background-color: pink;}
  15%  {background-color: yellow;}
  30%  {background-color: purple;}
  45% {background-color: limegreen;}
  60% {background-color: green;}
  75% {background-color: orange;}
  90% {background-color: maroon;}
  100% {background-color: pink;}
}

@keyframes cat-text {
  0%   {color: red;}
  25%  {color: blue;}
  50%  {color: black;}
  75% {color: white;}
  100% {color: red;}
}


.cat-game .container {
  background-color: pink;
  animation-name: cat-background;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

/* .cat-game h1, a {
  color: purple;
  animation-name: cat-text;
  animation-duration: 2s;
  animation-iteration-count: infinite;
} */

/* .cat-game a {
  font-size: 150%;
} */

.cat-game table button {
  background-color: pink;
  animation-name: cat-background;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.kitty {
  background-color: pink;
}

.cat1 {
  background-image: url('../images/cat1.gif');
  background-size: 150px 150px;
}

.cat2 {
  background-image: url('../images/cat2.gif');
  background-size: 150px 150px;
}
